/* Nav Bar*/

.nav-link {
    margin: 20px;
    
}

.navbar-nav {
   justify-content: justify !important;
}

.navbar-collapse{
    justify-content: center !important;
}


/* Botão de Agende Agora */

.btn-agende {
    background-color: #b2844d;
    margin-left: 100px !important;
    align-items: center;
    color: white;
    font-weight: normal;
    
}

/* Cabeçario de Informações */
.header {
    justify-content: center !important;
    align-items: center;
    padding: 0px;
}

.bg-barber {   
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)), url("imgs/handsome-man-shaving-beard-barbershop.jpg");
    background-size: 100% ;
    width: fit-content ;
    width: 100%;
    height: 550px;

}

.form {
    margin-top: -20px;
}

#textarea {
    opacity: 10%;
    color: #000000;
    border: none;
    height: 40px;
    width: 100%;
    resize: none;

}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.raleway  {
    font-family: "Raleway", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0;
  }

.raleway-title  {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
  }

#textarea-msg {
    opacity: 10%;
    color: #000000;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    resize: none;
    
}

.display-6 {
    font-weight: 850;
    align-items: center !important;
    justify-content: center !important;
    padding: 20px;
    display: grid;
}



.msg-contato {
    justify-content: center;
    display: grid;
    margin-bottom: 40px;

    
}

.btn-enviar {
    background-color: #b2844d;
    align-items: center !important;
    color: white;
    font-weight: normal;
    margin-top: 0;
    padding: 5px;
    height: 40px;
    display: grid;
    justify-content: center;
    text-decoration: none;
}

.col-corte {
    background-color: #f2f2f2;
    color: black;
    width: 150px;
}

.raleway-title-corte  {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    justify-content: left;
    display: grid;
  }

.col-barba {
    background-color: #b2844d;
    color: white;
}

.bi-scissors {
    font-size: 20px;
}

.bg-dinaik {   
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)), url("imgs/Design\ sem\ nome.png");
    background-size: cover;
    width: 100% ;
    height: 100%;
    margin-top: -400px;
    

}

.mg-bottom {
    margin-bottom: 1px !important;
}

.raleway-especiais  {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0;
  }

.col-especiais {
    background-color: #1f1f1f;
    width: 140px !important;
    display: grid;
  }

.bi-droplet-fill{
    font-size: 20px;
    color: #b2844d;
}


.container-comeco {
    
    margin-top: 700px;
    display: grid;
}
.conteudo {
    display: block;
    margin: auto;
}
.conteudo2 {
    display: block;
    margin: 50px -104px;
}


/*Style Zero*/

.body-zero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: -260px 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    background-color: rgb(242, 242, 242);
}

.title {
    font-size: 50px;
    margin-top: 20px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    letter-spacing: 1px;
    justify-self: center;
    display: grid;
    align-self: center;
    
}

.intro {
    max-width: 750px;
    margin: 15px auto;
    font-weight: 700;
    font-size: 20px;
    opacity: 80%;
    align-self: center !important;
}

.container {
    display: flex;
    align-items: center; 
    background-color:white;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding-right: 5px;
    margin: 20px auto;
    box-sizing: border-box;
    max-width: 500px;
}

.image {
    width: 200px; 
    height: auto;
    margin-right: 20px; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
     }

.text {
    text-align: left;
 }
 p{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
 }

.card {
    width: 800px !important;
    justify-self: center !important;
    align-self: center !important;
    
}

.d-flex{
    font-weight: 600;
    margin-bottom: 50px;
    font-size: large;
    width: 750px;
    align-self: center !important;
    justify-self: right !important;
}

.card-title {
    font-size: 25px;
    font-weight: 600;
}

.card-text {
    font-size: 24px;
}

.container{
    display: grid;
    align-items: center;
    padding: 10px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
}
